<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Detalles de la Entidad</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>

<body class="bg-dark text-white">
    <header th:replace="~{layout/plantilla :: header}" class="w-100 bg-primary text-white py-4 text-center">
        <h2>Detalles de la Entidad</h2>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="card bg-dark text-white shadow-lg">
                <div class="card-body text-center">
                    <h3 class="card-title text-light" th:text="${entidad.name}">Nombre de la Entidad</h3>
                    <p class="card-text">Precio: <span th:text="${entidad.price}">Precio</span></p>
                    <p class="card-text">ID: <span th:text="${entidad.id}">12345</span></p>
                    <a href="/entidades" class="btn btn-outline-light mt-4">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
