<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle del Rol</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body class="bg-dark text-white">
    <header class="w-100 bg-primary text-white py-4 text-center">
        <h2>Distrito Belleza - Detalle del Rol</h2>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="card bg-dark text-white shadow-lg">
                <div class="card-body text-center">
                    <h3 class="card-title">Rol ID: <span th:text="${rol.idRol}"></span></h3>
                    <p class="card-text">ID Usuario: <span th:text="${rol.idUsuario}"></span></p>
                    <p class="card-text">Nombre: <span th:text="${rol.nombre}"></span></p>
                    <a href="/roles" class="btn btn-outline-light mt-4">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

